.footer {
  width: 100%;
  min-height: 50px;
  height: auto;
  background: lighten($clr-gray-main, 5%);
  border-top: 2px solid darken($clr-gray-main, 5%);
  padding: 10px;
  @include flex($justify: space-between);
  color: white;
  .footer-link {
    cursor: pointer;
    color: white;
    border-bottom: 1px solid white;
    padding-bottom: 1px;
    font-size: 20px;
  }
}
