.searchbar {
  border: 1px solid $clr-black;
  @include wh(100%, 50px);
  border-radius: 15px;
  position: relative;
  margin-bottom: 50px;
  @include flex();

  &-text {
    padding: 5px;
    @include flex($justify: flex-start);
    @include wh(100%, 100%);
    min-height: 18px;
    line-height: 100%;
    color: $clr-white;
    font-size: 18px;
    overflow: hidden;
  }
  &-options {
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    background: darken($clr-white, 30%);
    @include wh(100%, auto);
    max-height: 200px;
    overflow-y: auto;
    display: none;
    @include invisibleScrollbar();
    &.active {
      display: block;
    }
  }
  &__option {
    pointer-events: auto;
    cursor: pointer;
    border-bottom: 1px solid transparent;
    &:hover {
      background: darken($clr-white, 40%);
    }
    width: 100%;
    padding: 5px;
    &:nth-last-of-type(n + 2) {
      border-bottom: 1px solid darken($clr-white, 50%);
    }
    .city-name {
      pointer-events: none;
    }
    .country-code {
      pointer-events: none;
      background: $clr-black;
      color: $clr-white;
    }
  }
  &-wrapper {
    @include flex(column, center, center, nowrap);
  }
  &-title {
    font-size: 32px;
    color: $clr-white;
    margin-bottom: 10px;
  }
  box-shadow: 0 -200px 100px -100px lighten($clr-gray-main, 5%) inset;
  animation: background 10s infinite alternate;
  background-position: 0 0;
  background-size: cover;
}
@keyframes background {
  100% {
    box-shadow: 0 -200px 100px -100px lighten($clr-gray-main, 40%) inset;
  }
}
