.location {
  &-selectors {
    @include flex(column, flex-start, flex-start, nowrap);
    @include wh(100%, auto);
  }
  &__selector {
    cursor: pointer;
    border-radius: 20px;
    padding: 10px;
    // border: 1px solid $clr-dark;
    // border: none;
    background: $clr-dark;
    color: $clr-white;
    border: 1px solid $clr-white;
    &:nth-of-type(n + 2) {
      margin-top: 10px;
    }
    @include wh(100%, auto);
    .selector__option {
      cursor: pointer;
    }
  }
}
