$font-mont: "Montserrat", sans-serif;

$clr-white: #ffff;
$clr-black: #000;
$clr-dark: #2d2d30;
$clr-gray: #f5f5f5;
$clr-gray-main: #333;
$clr-gray-2: #e4e4e4;
$clr-gray-3: #a5a5a5;
$clr-gray-4: #f4f4f4;
$clr-blue: #0090d4;
$clr-blue-pressed: #0080bd;
$clr-orange: #ff6f2b;

$title-size-pc: 36px;
$title-size-phone: 28px;

$size-desktop: 1920px;
$size-macbook: 1440px;
$size-laptop: 1200px;
$size-ipad-pro: 1024px;
$size-ipad: 768px;
$size-phone: 480px;
$size-iphone-se: 320px;
