.weather {
  &__card {
    width: 300px;
    @include flex($direction: column, $justify: flex-start);
    padding: 20px;
    border: 2px solid $clr-dark;
    background: lighten($clr-gray-main, 30%);
    border-radius: 10px;
    color: darken($clr-gray-main, 30%);
    border: 2px solid darken($clr-gray-main, 10%);
    background: lighten($clr-gray-main, 5%);
    -webkit-box-shadow: 4px 4px 12px 0px darken($clr-gray-main, 15%);
    -moz-box-shadow: 4px 4px 12px 0px darken($clr-gray-main, 15%);
    box-shadow: 4px 4px 12px 0px darken($clr-gray-main, 15%);
    &_state {
      .card-text {
        font-size: 25px;
      }
    }
    .card {
      &-text {
        background: lighten($clr-gray-main, 16%);
        padding: 5px;
        border-radius: 10px;
        word-wrap: break-word;
        text-align: center;
        width: 100%;
        .value-title {
          margin-bottom: 5px;
          font-weight: 500;
        }
        .value {
          width: 100%;
          padding: 5px;
          border: 1px solid black;
          background: transparent;
          border-radius: 5px;
          color: white;
          font-size: 20px;
          &:nth-last-of-type(n + 2) {
            margin-bottom: 10px;
          }
        }
      }
      &-icon-wrapper {
        width: 100%;
        @include flex();
        margin-bottom: 20px;
        background: rgba($clr-white, 10%);
        padding: 20px;
        border-radius: 10px;
        max-width: 100%;
        max-height: auto;
        svg {
          max-width: 80%;
          height: auto;
        }
      }
    }
  }
  &-cards {
    @include flex($justify: space-evenly, $align: stretch, $wrap: wrap);
  }
}
